
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

::-webkit-scrollbar{
  width: 8px;
}

::-webkit-scrollbar-track{
  background-color: #888;
}

::-webkit-scrollbar-thumb{
  background-color: #111;
border-radius: 10px;
}